body{
    background-color: white;
}

header{
    float: right;
    display: inline;
    padding: 1rem 1rem 0 0;
}

header a :hover{
color: gray;
text-decoration: underline;
}

.nav-link{
    padding:0 1rem 0 0;
}

.middle-container{
    display: block;
}